:root {
    --primary-color: #045442;
    --secondary-color: #EFF1C5;
    --accent1-color: #84CAE7;
    --accent2-color: #D3C0D2;
    --accent3-color: #815355;
    --accent4-color: #77A0A9;
}

* {
    margin: 0;
    padding: 0;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

header {
    background-color: var(--primary-color);
    padding-top: 3rem;
    grid-column: 1 / 4;
    color: white;
    text-align: center;
}

header h1 {
    padding-bottom: 2rem;
}

nav {
    display: flex;
    background-color: var(--secondary-color);
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
}

main {
    background-color: lightgrey;
    grid-column: 1 / 3;
    font-size: 1.5rem;
    height: 20rem;
}

.right-aside {
    width: 20rem;
}

footer {
    background-color: var(--primary-color);
    padding: 3rem;
    text-align: center;
    grid-column: 1 / 4;
    color: white;
    font-size: 2rem;
    font-weight: 400;
}